table, tr, th, td {
  border: 1px solid rgb(184, 183, 183);
  border-collapse: collapse;
  text-align: start;
  padding: 15px;
}

table {
  margin: auto;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 20px;
  
}




